 <%= javascript_include_tag Ckeditor.cdn_url%>
 
<%= form_with(model: [:admin, page]) do |form| %>
  <% if page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <%= form.label :title, style: "display: block" %>
  <%= form.text_field :title, size: 78 %>
</div>

  <div class="field">
    <%= form.label :background_image %>
    <%= form.file_field :background_image %>
  </div> 

<div>
  <%= form.label :body, style: "display: block" %>
  <%= form.cktext_area :body %>
</div>


  <div>
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>

