
<%= @product.image %>
<p><%= @product.name %></p>
 
 


<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %>