<h1>Cart</h1>
<table>
  <thead>
    <tr>
      <td>Product</td>
      <td>Price</td>
      <td>Quantity</td>
    </tr>
  </thead>
  <tbody> 
    <% @items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= number_to_currency item.price %></td>
        <td><%= item.quantity %></td>
        <td>
        <%= form_for item, method: :delete do |f|%>
        <%= f.submit "remove" %>
        <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>