<p style="color: green"><%= notice %></p>

<h1>Categories (<%= @categories.length %>) </h1>

<div id="categories">
  <div class="container">
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-md-4 col-sm-6">
          <div class="card mb-4">
            <%= link_to admin_category_path(category) do %>
              <% if category.image.attached? %>
                <%= image_tag category.image, class: "card-img-top"  %>
              <% else %>
                <%= image_tag "dog shades.jpg", alt: "Placeholder image", class: "card-img-top"  %>
              <% end %>
            <% end %>
            
              <h5 class="card-title"><%= category.name %></h5>
            
            <%= category.products_count %>
            <%= button_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


