<p style="color: green"><%= notice %></p>

<h2> <%= @category.name %> </h2>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>

      <div class="col-md-4 col-sm-6">
        <div class="card mb-4">
          <% if product.image.attached? %>
            <%= image_tag product.image, class: "card-img-top"  %>
          <% else %>
             <%= image_tag "dog shades.jpg", alt: "Placeholder image", style: "width: 250px; height: auto;" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><%= number_to_currency(product.price) %></p>
            <%= link_to 'View', product, class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_admin_product_path(product) %> |
            <%= button_to 'Delete', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<div class="text-center">
  <%= paginate @products, params: { controller: 'admin/categories', action: 'show', id: @category.id } %>

</div>
<% if admin_signed_in? %> 
  <%= link_to 'New Product', new_admin_product_path %>
  <%= button_to "Destroy this category", admin_category_path(@category), method: :delete %>
  <%= link_to "Edit this category", edit_admin_category_path(@category) %> |
<% end %>

  <%= link_to "Back to categories", admin_categories_path %>


</div>
</div>



