<header class= "navbar navbar-fixed-top navbar-inverse" >

    <div class="container">
        <%= link_to image_tag("logo.jpg", alt:"sample logo", width: "100"), root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">

          <% if admin_signed_in? %>
            <li><%= link_to "Sign out", destroy_admin_session_path, data: { "turbo-method": :delete } %> </li>
            <li><%= link_to "Pages", 'pages' %> </li>
            <li><%= link_to "Home", root_path %> </li>
          <% else %>
            <li><%= link_to "Our story", "#" %> </li>
            <li><%= link_to "Shop", "#" %> </li>
            <li><%= link_to "Log In", new_admin_session_path  %> </li>
          <% end %>
      </nav>
</header>